<launch>
    <arg name="no"/>
    <arg name="project" default="liorf"/>
    <arg name="robot"   default="jackal0"/>
    <arg name="id1"     default="jackal1"/>
    <arg name="id2"     default="jackal2"/>

    <group>    
        <node pkg="$(arg project)" type="$(arg project)_imuPreintegration"   name="$(arg project)_imuPreintegration_$(arg robot)"   output="screen"     respawn="true">
            <param name="/robot_id" type="string" value = "$(arg robot)"/>
            <param name="/no"       type="int"    value = "$(arg no)"   />
        </node>
        <node pkg="$(arg project)" type="$(arg project)_imageProjection"     name="$(arg project)_imageProjection_$(arg robot)"  	output="screen"     respawn="true">
            <param name="/robot_id" type="string" value = "$(arg robot)"/>
            <param name="/no"       type="int"    value = "$(arg no)"   />
        </node>
        <node pkg="$(arg project)" type="$(arg project)_mapOptmization"      name="$(arg project)_mapOptmization_$(arg robot)"   	output="screen"     respawn="false">
            <param name="/robot_id" type="string" value = "$(arg robot)"/>
            <param name="/no"       type="int"    value = "$(arg no)"   />
        </node>
    </group>

   <node pkg="$(arg project)" type="$(arg project)_mapFusion" name="$(arg project)_mapFusion_$(arg robot)"   output="screen"     respawn="false">
       <param name="/robot_id"          type="string" value = "$(arg robot)"/>
       <param name="/id_1"              type="string" value = "$(arg id1)"  />
       <param name="/id_2"              type="string" value = "$(arg id2)"  />
       <param name="/no"                type="int"    value = "$(arg no)"   />
       <param name="/pcm_matrix_folder" type="string" value="$(find liorf)/config"/>
   </node>


</launch>
